body {
  background-color: #f7f7f9;
}

.navbar-brand {
  font-weight: 600;
}

.legend-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.status-lead {
  background-color: blue;
}

.status-active {
  background-color: green;
}

.status-dormant {
  background-color: orange;
}

.status-closed {
  background-color: red;
}

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.franchise-color {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
